:root {
  --deco-bar-wd: 4px;
  --home-gt-col: 1fr 1.2fr;
  --home-gt-row: 2fr 1fr;
}
h2 {
  font-size: 1.5rem;

}

p {

  font-size: 1rem;
}

.ct-home {
  padding-left: clamp(1rem, 10%, 4rem);
  padding-right: clamp(1rem, 10%, 4rem);
  background-color: var(--col-bg);
  width: 100%;
  display: grid;
  grid-template-columns: var(--home-gt-col);
  grid-template-rows: var(--home-gt-row);
}

.sec-pf-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.sec-pf-head h2 > span {
  font-size: 2rem;
  background-color: var(--col-sec-light);
}

.sec-pf-head img {
  width: calc(100vh * 0.3);
  height: calc(100vh * 0.3);
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: var(--def-box-shadow);
}

.sec-pf-intro {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}

.sec-pf-intro ul {
  list-style-type: none;
}

.sec-pf-intro h2 {
  background-color: var(--col-sec-light);
}

.sec-pf-exp {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.con-exp-item {
  display: flex;
}

.sec-exp-text-con {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sec-exp-text-con h2 {
  font-size: 1.8rem;
}

.sec-exp-text-con p {
  font-size: 1.2rem;
}

/* decorators for exp element */
.deco {
  flex-basis: 0;
  margin-right: 20px;
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deco > span {
  background-color: var(--col-pri);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
}

.deco-start > div {
  height: 50%;
  width: var(--deco-bar-wd);
  transform: translateY(50%);
  background-color: var(--col-pri);
}

.deco-default > div {
  height: 100%;
  width: var(--deco-bar-wd);
  background-color: var(--col-pri);
}

.deco-end > div {
  height: 50%;
  width: var(--deco-bar-wd);
  transform: translateY(-50%);
  background-color: var(--col-pri);
}

@media only screen and (max-width: 875px) {
  :root {
    --gt-col: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 645px) {
  :root {
    --home-gt-col: 1fr;
    --home-gt-row: auto;
  }

  .sec-pf-head {
    order: 1;
    align-items: center;
  }

  .sec-pf-head h2 {
    margin: 3rem 0 1rem 0;
    text-align: center;
  }

  .sec-pf-head img {
    margin: 1rem 0 1rem 0;
  }

  .sec-pf-intro {
    order: 2;
    margin: 2rem 0 2rem 0;
    align-items: center;
    justify-content: center;
  }
  .sec-pf-exp {
    order: 3;
  }
}
