:root {
  --deco-bar-wd: 6px;
}

.ct-home {
  background-color: var(--col-bg);
  margin: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
}

.sec-pf-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.sec-pf-head img {
  width: calc(100vh * 0.3);
  height: calc(100vh * 0.3);
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: var(--def-box-shadow);
}

.sec-pf-intro {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}

.sec-pf-intro ul {
  list-style-type: none;
}

.sec-pf-exp {
  grid-row: span 2;
  background-color: forestgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.con-exp-item {
  display: flex;
}

/* decorators for exp element */
.deco {
  height: 100%;
  width: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.deco-start {
  background-color: bisque;
}

.deco-start > div {
  height: 50%;
  width: var(--deco-bar-wd);
  transform: translateY(50%);
  background-color: red;
}

.deco-default > div {
  height: 100%;
  width: var(--deco-bar-wd);
  background-color: red;
}

.deco-end {
  background-color: aquamarine;
}

.deco-end > div {
  height: 50%;
  width: var(--deco-bar-wd);
  transform: translateY(-50%);
  background-color: red;
}

.deco-default {
  background-color: yellow;
}

