:root {
  --gt-col: repeat(3, 1fr);
}

.main {
  /* background-color: #FFFFE0; */
  background-color: var(--col-bg);
  display: flex;
  flex-direction: row;
}

.ct {
  padding: 1.5rem 2rem;
  overflow-y: auto;
  height: 200vh;
  /* scroll-behavior: auto; */
}
.ct,
.ct-sec {
  /* background-color: green; */
  width: 100%;
}

.ct-head {
  padding-bottom: 1.5rem;
}

.ct-sec-grid {
  width: 100%;
  height: max-content;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: var(--gt-col);
  grid-template-rows: auto auto;
}

.ct-sec-grid > div {
  background-color: #fff;
  /* border: black 1px solid; */
  border-radius: 0.5rem;

  border: 1px rgba(0, 0, 0, 0.1) solid;

  box-shadow: var(--def-box-shadow);
  /* box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.1),
    0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.1); */
}

@media only screen and (max-width: 875px) {
  :root {
    --gt-col: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 645px) {
  :root {
    --gt-col: 1fr;
  }
}

h2 {
  font-size: 1.8rem;
}


/* REPO ITEMS */
.ct-sec-repo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.ct-sec-repo-item > p {
  font-size: 1.1rem;
  --max-lines: 4;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  text-align: center;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.ct-sec-repo-icons {
  /* background-color: green; */
  max-width: 100%;
  min-width: 60%;
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.ct-sec-repo-icons > div {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}

.ct-sec-repo-item a {
  font-size: 1.4rem;
  color: var(--col-sec);
  text-decoration: none;
}
.ct-sec-repo-item a:hover {
  /* background-color: var(--col-sec-light); */
  text-decoration: underline;
}

.repo-icons {
  /* background-color: #FF6766; */
  min-width: 60%;
  justify-content: space-evenly;
}

.repo-stars > p, .repo-stars > ion-icon {
  color: #FF9900;
}

.repo-forks > p, .repo-forks > ion-icon {
  color: #FF6766;
}