.main {
    display: flex;
}



.content {
    padding: 16px;
    
    overflow-y: scroll;
}
.content, .content-section {
    /* background-color: green; */
    width: 100%;
    
}

.content-section-grid {
    width: 100%;
    height: max-content;
    background-color: bisque;

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8rem 8rem;
}

.content-section-grid > div {
    background-color: coral;
    border: black 3px solid;
}