main {
    display: flex;
}

.content, .content-section {
    background-color: goldenrod;
    width: 100%;
    height: 100vh;
}

.content-section-grid {
    width: 100%;
    height: 100%;
    background-color: bisque;

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8rem 8rem;
}

.content-section-grid > div {
    background-color: red;

}