.diag {
  display: none;
  position: absolute;
  height: auto;
  width: 300px;
  background-color: var(--col-sec-light);
  padding: 2rem;
  border-radius: 0.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50vh;
  transform: translateY(-50%);
  box-shadow: var(--def-box-shadow);
  z-index: 100;
  border: 2px rgba(0, 0, 0, 0.25) solid;
  box-shadow: -0.8px -0.8px 51.9px rgba(0, 0, 0, 0.025),
    1.9px 1.7px 56.4px rgba(0, 0, 0, 0.033),
    10.1px 9.3px 40.5px rgba(0, 0, 0, 0.041), 35px 32px 80px rgba(0, 0, 0, 0.07);
}

.diag-show {
  display: block;
}

.diag ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
}

#btn-close-diag {
  padding-left: 1rem;
  padding-right: 1rem;
  transform: translateX(-2rem);
  position: relative;
  right: 0;
  left: 100%;
  width: fit-content;
}

.diag button {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  background-color: transparent;
}

.diag button:hover {
  background-color: var(--col-pri);
  box-shadow: var(--def-box-shadow);
}
