.ct-tech {
    overflow-y: auto;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--col-bg);
}

.ct-tech > ul{
    padding: 2rem;
    display: grid;
    gap: 1rem;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);

    list-style-type: none;
    text-transform: capitalize;
}

.ct-tech > ul > li {
    border-radius: 1rem;
    box-shadow: var(--def-box-shadow);
    background-color: var(--col-accent-light);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


@media only screen and (max-width: 875px) {
    .ct-tech > ul{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }
  }
  
  @media only screen and (max-width: 645px) {
    .ct-tech > ul{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
  }

  @media only screen and (max-width: 380px) {
    .ct-tech > ul{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }
  }
